/*

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #ed563b;
  color: #fff;
}

::-moz-selection {
  background: #ed563b;
  color: #fff;
}

@media (max-width: 1200px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.section-heading {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 80px;
}
.section-heading2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 46px;
  padding-top: 40px;

}

.section-heading h2 {
  font-size: 28px;
  font-weight: 800;
  color: #232d39;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading h2 em {
  font-style: normal;
  color: #ed563b;
}

.section-heading img {
  margin: 20px auto;
}

.dark-bg h2 {
  color: #fff;
}

.dark-bg p {
  color: #fff;
}

.main-button a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: #ed563b;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #f9735b;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background: rgba(250,250,250,0.99) !important;
  height: 80px!important;
  position: fixed!important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #232d39!important;
}

.background-header .main-nav .nav li:last-child a {
  color: #fff !important;
}

.background-header .main-nav .nav li:last-child a:hover {
  color: #fff!important;
}

.background-header .main-nav .nav li:hover a {
  color: #ed563b!important;
}

.background-header .nav li a.active {
  color: #ed563b!important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: rgb(255, 255, 255);
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo em {
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: #090909;
  
}

.header-area .main-nav .nav li:last-child a {
  display: inline-block;
  font-size: 13px;
  padding: 11px 17px;
  background-color: #014785;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition: all .3s;
  height: auto;
  line-height: 20px;
}

.header-area .main-nav .nav li:last-child a:hover {
  background-color: #014785;
  opacity: 1;
  
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #5d5d5d!important;
  opacity: 1;
  
  
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #014785!important;
  opacity: 1;
  
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 86px;
}

.header-area.header-sticky .nav {
  margin-top: 30px !important;
}

.header-area.header-sticky .nav li a.active {
  color: #ed563b;
  
  
}
.header-area.header-sticky .nav li a:hover{
  border-top: 1px solid blue;
}




@media (max-width: 1200px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #ed563b!important;
    opacity: 1;
    
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li:last-child {
    width: 100%;
    background-color: #f7f7f7;
    color: #fff;
  }
  .header-area .main-nav .nav li:last-child a {
    background-color: #f7f7f7!important;
  }
  .header-area .main-nav .nav li:last-child a:hover,
  .header-area .main-nav .nav li:last-child:hover a {
    background-color: #f7f7f7!important;
    color: #fff!important;
  }
  .header-area.header-sticky .nav {
    margin-top: -2px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
  }
  .header-area .main-nav .nav li:last-child a {
    color: #fff!important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #014785!important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
  
}


@media (min-width: 1200px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
  .card-confederacione {
    display: flex;
    flex-direction: column;
    }

  
  
}



/* 
---------------------------------------------
banner
--------------------------------------------- 
*/
.section-heading h3{ 

  color: white  ;
}
.section-heading-confederazione h3{
  color: #014785;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 80px;
}
.main-banner {
  position: relative;
 
}


#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: 0;
    margin-bottom: -7px;
   }


.video-overlay {
    position: absolute;
    background-color: rgba(35,45,57,0);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 90%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 50%;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  
  font-weight: 4  00;
  color: #fff;
  letter-spacing: 0.5px;
  
}

.main-banner .caption h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}
.card-confederacione {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  
 
}
.card-confederacione div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-confederacione div h1 {
  color: #014785;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.card-confederacione div h3 {
  display: flex;
  justify-content: center;
  width: 400px;
  
  
}


/*
---------------------------------------------
features
---------------------------------------------
*/

#features {
  margin-bottom: 80px;
}

.feature-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px;
  
}

.feature-item .left-icon img {
  float: left;
  margin-right: 30px;
}

.feature-item .right-content {
  display: inline;
}

.feature-item .right-content h4 {
  margin-top: 0px;
  margin-bottom:  7px;
  letter-spacing: 0.25px;
  color: #232d39;
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
}

.feature-item .right-content a.text-button {
  margin-top: 7px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #ed563b;
  font-weight: 500;
}

/*
---------------------------------------------
subscribe
---------------------------------------------
*/

#call-to-action {
  padding: 120px 0px;
  background-image: url(../images/cta-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.card-apps{
  
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.card-apps h2{
  font-size: 1.6rem;
}
.cta-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
 
}
.cta-content div img {
  height: 160px;
}


.cta-content h2 {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
}

.cta-content h2 em {
  font-style: normal;
  color: #ffffff;
}

.cta-content p {
  font-size: 16px;
  color: #fff;
  margin: 15px 0px 25px 0px;
}



/*
--------------------------------------------
Our Classes
--------------------------------------------
*/

#our-classes {
  margin-bottom: 140px;
}

#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs ul li {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
#tabs ul li:last-child {
  margin-bottom: 0px;
}
#tabs ul li a {
  text-transform: capitalize;
  width: 100%;
  padding: 30px 30px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 19px;
  color: #232d39;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: all 0.3s;
}
#tabs .main-rounded-button a {
  text-align: center;
  padding: 20px 30px;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: #ed563b;
}
#tabs .main-rounded-button a:hover {
  background-color: #f9735b;
}
#tabs ul li a img {
  max-width: 100%;
  margin-right: 20px;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #ed563b;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
  margin-left: 30px;
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}
.tabs-content img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.tabs-content h4 {
  font-size: 23px;
  font-weight: 700;
  color: #232d39;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.tabs-content p {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 28px;
}

/* 
---------------------------------------------
schedule
--------------------------------------------- 
*/

#schedule {
  padding: 0px 0px 140px 0px;
  background-image: url(../images/schedule-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#schedule table {
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
}

#schedule table tbody {
  border-top: 1px solid #fff; 
}

#schedule table tbody tr {
  border-bottom: 1px solid #fff;
}

#schedule table tbody tr td {
  border-right: 1px solid #fff;
  height: 100px;
}

#schedule table tr td {
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.schedule-table.filtering .ts-item {
    opacity: 0;
    transition: all 0.5s;
}

.schedule-table.filtering .ts-item.show {
    opacity: 1;
    transition: all 0.5s;
}

#schedule .filters {
  margin-bottom: 40px;
}
#schedule .filters ul {
  padding: 0;
  text-align: center;
}
#schedule .filters ul li {
  list-style: none;
  display: inline;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#schedule .filters ul li:after {
  content: "/";
  margin-left: 10px;
  color: #fff;
}
#schedule .filters ul li:last-child {
  margin-right: 0px;
}
#schedule .filters ul li:last-child::after {
  display: none;
}
#schedule .filters ul li.active,
#schedule .filters ul li:hover {
  color: #ed563b;
}
#schedule .filters-content {
  margin-top: 50px;
}
#schedule .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
#schedule .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}

.tesicongresuali{
  margin: 150px 300px 90px 300px;
}
.tesicongresuali p{
  padding-bottom: 20px;
  font-size: 16px;
}

.tesicongresuali  h1{
  font-size: 30px;
  line-height: 45px;
}
.tesicongresuali  h4{
  font-size: 22px;
  line-height: 30px;
}
.tesicongresuali  h2{
  font-size: 22px;
  padding: 60px 0 40px 0;
  }

.indice{
  margin: 40px 0;
}
.indice li{
  font-size: 18px;
  color: #7a7a7a;
  line-height: 30px;
  font-weight: 3000;
}

.list li{
  font-size: 16px;
  color: #7a7a7a;
  line-height: 30px;
}

.presentazione-main {
  margin: 150px 400px 90px 400px;
  
}
.presentazione-main div p {
  padding-bottom: 20px;
  font-size: 16px;
}
.presentazione-main div h6{
padding: 10px 0;
}
.presentazione-main div h3{
  padding: 25px 0;
  display: flex;
  justify-content: center;
  }
/* 
---------------------------------------------
trainers
--------------------------------------------- 
*/


#organigrama .trainer-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 30px;
}

#organigrama .trainer-item img {
  width: 100%;
  border-radius: 5px;
}

#organigrama .trainer-item span {
  font-size: 13px;
  font-weight: 500;
  color: #014785;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}

#organigrama .trainer-item h4 {
  font-size: 19px;
  font-weight: 600;
  color: #232d39;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

#organigrama .trainer-item p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

#organigrama .trainer-item ul.social-icons li {
  display: inline-block;
  margin-right: 12px;
}

#organigrama .trainer-item ul.social-icons li:last-child {
  margin-right: 0px;
}

#organigrama .trainer-item ul.social-icons li a {
  color: #232d39;
  transition: all .3s;
}

#organigrama .trainer-item ul.social-icons li a:hover {
  color: #ed563b;
}

.section1 {
  background-color: #014785;
  
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

#contact-us {
  padding-top: 100px;
}


#contact-us  .col-lg-6 {
  padding: 0px;
}

#contact-us .contact-form {
  padding: 80px;
  background-color: #014785;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 220px;
}

.contact-form {
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  gap: 30px;
  
}
.contact-form h1 {
  padding-top: 100px;
}







/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  background-color: #232427;
  text-align: center;
  padding: 20px 0px;
}

footer p {
  color: #232d39;
  font-size: 13px;
}

footer p a {
  cursor: pointer;
  color: #ed563b;
}

footer p a:hover {
  color: #ed563b;
}
.container-footer img {
  padding-top: 30px;
}



/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #042f67;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #042f67;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #fff;
    border-radius: 50%;
}


/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/


@media (max-width: 992px) {

  .main-banner .caption h1 {
    font-size: 32px;
  }
  #features {
    margin-bottom: 110px;
  }
  #features .feature-item {
    margin-bottom: 30px;
  }
  #our-classes .tabs-content {
    margin-left: 0px;
    margin-top: 30px;
  }
  .trainer-item {
    margin-bottom: 30px;
  }
  #contact-us #map {
    margin-bottom: -7px;
    margin-top: 100px;
  }
  #contact-us .contact-form {
    padding: 30px;
  }
  #contact-us .contact-form #contact {
    padding: 30px;
  }
  .card-confederacione {
    display: flex;
    flex-direction: column;
  }
  .cta-content {
    display: flex;
    flex-direction: column;
    
  }
  .card-apps {
    padding-left: 60px;
    padding-right: 60px;
  }
  .cta-content-img2 img {
    padding-left: 20px;
  }
  .card-apps{ 
    padding-bottom: 0px;
  }
  #contact-us {
    padding-top: 0px;
  }
}



.link-googlemaps a{
  color: #fff!important;
}

.caption h3 h6 { 
  color: black;
}


.notice {
  background-image: url(/training-studio-1.0.0/assets/images/italy-background.jpg);
  background-size: cover;
  padding-bottom: 40px;
}
.notice-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}



/* 
FOTOS section */

    .gallery {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 134px;
      gap: 80px;
      height: fit-content;
      flex-wrap: wrap;
    }

    .gallery-item {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      width: 350px;
      height: 400px;
      
       
    }

    .gallery-item img {
      height: 300px ;
      width: auto;
      transition: transform 0.3s ease-in-out;
      padding-bottom: 10px;
      
    }
  

    #player {
      width: 540px;
      height: 360px;
  }
    .video-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 100px;
      gap: 80px;
      height: fit-content;
      flex-wrap: wrap;
    }
    .card-video{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      gap: 10px;
    }
    .card-video video{
        height: auto;
        width: 400px;
    }
    .gallery-item:hover img {
      transform: scale(1.05);
    }

    .activite-cim-title{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;
    }

    .activite-cim {
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: center;
      padding-bottom: 60px;
      
      
    }

    
    
    .activite-cim div:hover {
      cursor: pointer;
    }
    
    .activite-cim div img{
      height: 400px;
      width: 380px;
      
      
    } 
    .activite-cim div:hover img {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
    .activite-cim div h6 {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      color: #014785;
      font-size: larger;
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out;
    }

    .modal.show {
      opacity: 1;
      visibility: visible;
    }

    .modal-content {
      max-width: 30%;
      max-height: 100%;
    }

    .modal-content img {
      width: 100%;
      height: 90%;
     
    }

    /* galery delegazioni */
.gallery-delegazioni {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      padding-left: 380px;
      padding-right: 300px;
      padding-top: 200px;
      padding-bottom: 100px;
    }

    .gallery-item-delegazioni {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .gallery-item-delegazioni p {
      
      font-weight: 500;
    }

    .gallery-item-delegazioni img {
      width: 200px;
      height: auto;
      transition: transform 0.3s ease-in-out;
    }

    .gallery-item-delegazioni:hover img {
      transform: scale(1.1);
    }

    

.main-nav a img {
  padding-top: 6px;
}

#contact-btn:hover {
  color: white!important;
}

footer{
  margin: auto;
}
.footer-divs { 
  display: flex;
  justify-content: space-around;
  padding: 0 300px;
  padding-top: 20px;

  color: #a1a1a1;
}

.footer-span {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
  align-items: start;
}

.btn-statuto { 
  background-color: #014785 ;
  height: 60px;
  width: 160px ;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 20px;
  color: white;
  border: none;
}

.statuto-div { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.second-navbar {
  background-color: #014785;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 120px;
  align-items: center;
  
}


.img-bg-italy {
  height: 100%;
  background-image: url("../images/italybg.jpg");
  background-size: cover;
}

.lapresidenza-title {
  background-color: #014785;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 40px;
}
.lapresidenza-title h2 {
  padding-left: 20px;
}

.section-organigrama1{ 
 
  background-color: #014785;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 80px;
}



.card-organigramma-img img{
  height: 240px;
  width: auto;
  border-radius: 10px;
}
.card-organigramma h4 {
  font-size: 16px;
  padding: 6px 0;
}
.section-organigrama2{ 
  
  background-color: #014785;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 100px;
  gap: 60px;
  padding-bottom: 40px;
  padding-left: 80px;
  flex-wrap: wrap;
}

.card-organigramma, .card-organigramma-diretoria {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
#fb-icon {
  color: rgb(32, 31, 31);
}


.second-navbar-icon  {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icon-globe {
  height: 60px;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  

}

.second-navbar-icon-text p {
  display: flex;
  flex-direction: column;
  color: white;
  
}
.icon-search-div img {
  width: 20px;
}
.contact-bg {
  background-color: #014785 ;
  padding: 0 10px;
  color: white!important;
}
#contactId a:hover {
  color: rgb(0, 0, 0)!important;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  
}
.dropdown-menu.show {
  display: block;
  position: absolute;
  height: 100vh;
}

.arrowdown-navbar {
  height: 8px;
  margin-top: 16px;
  padding-right: 20px;
  cursor: pointer;
  
}
#item1-navbar {
  padding-right: 8px;
  
  
}

.mini-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  z-index: 999;
  margin-left: 420px;
  margin-top: 80px;
  border-radius: 5px;
}

.mini-menu li a{
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}

.mini-menu.show {
  display: flex;
  
}
.div-search {
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 160px 200px 0px 200px;
  
}
.div-search-links{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div-search a {
  color: black;
  margin-left: 200px ;
  
}
.div-search a:hover {
  color:#014785 ;
  font-weight: 600;
  font-size: larger;
}
#search-icon {
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
  
}
#searchInput {
  width: 40%;
}


.down-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.down-content {
  padding-top: 32px;
}

/* 
-- MODAL SECTION --  */

.modal-search {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-search  {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  
}
.modal-content-search button {
  background-color: #014785;
  border-radius: 10px;
  border: none;
  padding: 4px 10px;
  color: white;
}


.close-search {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.close-search:hover,
.close-search:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#img-news:hover {
  transform: scale(1.05);
}

.galeria-fotografica-text {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-item iframe{
  width: 400px;
  height: 206px;
}
.esecutivo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.esecutivo-section {

  display: flex;
  flex-wrap: wrap;
  padding: 40px 200px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gallery-item p{
    font-size: 15px;
    color: #343434;
    font-weight: 500;
}
.card-name {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  
}
.card-name span {
  font-weight: 500;
}

#searchResults a {
  color: white;
  background-color: #014785;
  padding: 10px;
  border-radius: 4px;
  
}
#searchResults h6 {
  padding: 20px 0;
}
#sarch-icon-btn {
  
  width: 20px;
}
#searchResults {
  height: fit-content;
 display: flex;
 flex-direction: column;
 gap: 30px;
 padding-top: 20px;
 
 
}
.foto-presidents {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding-top: 50px;
}
/* // medias query// */
@media (max-width: 480px) {
  .feature-item .right-content a.text-button {
    margin-left: 130px;
  }
  .second-navbar {
    flex-direction: column;
    padding: 140px 30px;
    gap: 20px;
    align-items: flex-start;
  }
  .notice-text h1 {
    font-size: 1.8rem;
  }
  .activite-cim {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }  
  .footer-divs {
    flex-direction: column;
    padding: 0 25px;
    align-items: center;
  }
  #img-appstore {
    height: 140px;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 30px;
    gap: 20px;
  }
  .div-search {
   
    padding: 200px 0px;
    
  }
  .div-search a {
    margin-left: 100px ;
  }
  .card-confederacione{ 
    padding-left: 0px;
  }
  .activite-cim-title h1 {
    text-align: center;
  }
  #map {
    margin-top: 100px;
  }
  
  .galeria-fotografica-text h1{
    font-size: 24px;
  }
  .gallery-delegazioni{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
  }
  .modal-content {
    max-width: 90%;
    max-height: 100%;
  }
  .esecutivo-text {
    padding: 50px 75px
  }
  .foto-presidents {
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
  }
  
}

@media (max-width: 1200px) {
  .presentazione-main{
    margin: 110px 40px;
  } 
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    padding-right: 30px;
  }
  .video-section{ 
    flex-direction: column;
    padding: 100px 0px;
  }
 .card-video video {
    padding: 20px;
    }
  .gallery-delegazioni{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
  }
  .div-search {
    padding: 200px 0px;
    
  }
  .div-search a {
    margin-left: 100px ;
  }
  #search-icon {
    background-color: white;
    margin-bottom: 10px;
  }
  #organigrama .trainer-item img {
    width: 80%;
  }
  .down-content {
    align-items: start;
  }
  .activite-cim{
    align-items: center;
    flex-direction: column;
  }
  .card-video {
    align-items: center;
  }
  .modal-content-search {
    width: 100%;
    margin: 20% auto;
    min-height: 70vh;
    padding-top: 30px;

  }
  #searchInput {
    width: 60%;
  }
  
}  
@media (max-width: 800px){
  .gallery {
      grid-template-columns: repeat(1, 1fr);
      
    }
  
  
  }

